.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.hero-txt {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero-txt h1 {
  font-size: 40px;
  color: #778899;
  line-height: 1.3;
}

.hero-txt span {
  color: #ee82ee;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-1,
.btn-2,
.btn-3 {
  padding: 12px 24px;
  border: 2px solid #ee82ee;
  border-radius: 8px;
  color: #ee82ee;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  max-width: 300px;
  margin: 0 auto;
}

.btn-1:first-of-type {
  background: #ee82ee;
  color: #fff;
}

.btn-1:hover {
  opacity: 0.9;
}
.hero-img {
  display: block;
}

.hero-img img {
  width: 100%;
}

@media (min-width: 400px) {
  .buttons {
    flex-direction: row;
  }
}

@media (min-width: 500px) {
  .hero-img {
    min-width: 450px;
  }
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
  }
  .hero-img {
    width: ;
  }
}
